.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    background: linear-gradient(180deg, #d72ae4 0% #e1ffea22 62%);
}

.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.offers-left h1{
    color: #171717;
    font-size: 80px;
    font-weight: 600;

}

.offers-left p{
    color: #171717;
    font-size: 22px;
    
}